<!doctype html>
<html lang="en"
      layout:decorate="defaultadmin" th:with="currentAdminBar='newuser'"
      xmlns:layout="http://www.thymeleaf.org/" xmlns:th="http://www.thymeleaf.org">

<body>
<div layout:fragment="contentadmin">
    <h2 class="sub-header">Add new user</h2>
    <form action="/users/add" class="form-horizontal" method="post">
        <div class="form-group">
            <label class="control-label col-sm-2" for="username">Login:</label>
            <div class="col-sm-10">
                <input class="form-control" id="username" name="username" placeholder="Enter login" required
                       type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="firstName">Name:</label>
            <div class="col-sm-10">
                <input class="form-control" id="firstName" name="firstName" placeholder="Enter name" required
                       type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">E-mail:</label>
            <div class="col-sm-10">
                <input class="form-control" id="email" name="email" placeholder="Enter email" required type="email">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="password">Password</label>
            <div class="col-sm-10">
                <input class="form-control" id="password" name="password" placeholder="Enter password" required
                       type="password">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="roles">Role:</label>
            <div class="col-sm-10">

                <select class="form-control" id="roles" multiple name="roles" required>
                    <th:block th:each="role : ${rolesFromServer}">

                        <option name="id"
                                th:text="${role.getAuthority()}"
                                th:value="${role.getId()}">
                        </option>

                    </th:block>
                </select>

            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" type="submit">Add</button>
                <a class="btn btn-default" href="/users/list">Back</a>
            </div>
        </div>
    </form>
</div>
</body>

</html>



