<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="mainadminbar">
    <ul class="nav nav-tabs">
        <li th:classappend="${currentAdminBar == 'list'} ? 'active'"><a href="/users/list">Users table<span
                class="sr-only" th:if="${currentAdminBar == 'list'}">(current)</span></a></li>
        <li th:classappend="${currentAdminBar == 'newuser'} ? 'active'"><a href="/users/add">New User<span
                class="sr-only" th:if="${currentAdminBar == 'newuser'}">(current)</span></a></li>
    </ul>
</div>
</body>