<!doctype html>
<html lang="en"
      layout:decorate="defaultadmin" th:with="currentAdminBar='list'"
      xmlns:layout="http://www.thymeleaf.org/" xmlns:th="http://www.thymeleaf.org">

<body>
<div layout:fragment="contentadmin">
    <h2 class="sub-header">All users</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Name</th>
                <th>E-mail</th>
                <th>Roles</th>
                <th>Password</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user : ${usersFromServer}">
                <tr>
                    <td th:text="${user.getId()}">
                    </td>
                    <td th:text="${user.getUsername()}">
                    </td>
                    <td th:text="${user.getFirstName()}">
                    </td>
                    <td th:text="${user.getEmail()}">
                    </td>
                    <td>
                        <th:block th:each="role:${user.getRoles()}">
                            <p th:text="${role.getAuthority()}"></p>
                        </th:block>
                    </td>
                    <td th:text="${user.getPassword()}">
                    </td>
                    <td>
                        <form action="/users/edit" method="get">
                            <input name="userId" th:value="${user.getId()}" type="hidden"/>
                            <button class="btn btn-primary" type="submit">
                                Edit
                            </button>
                        </form>
                    </td>
                    <td>
                        <form>
                            <button class="btn btn-danger" formaction="/users/delete" formmethod="post"
                                    name="userId"
                                    th:value="${user.getId()}" type="submit">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>